[user]
	name = Shiyu Dong
	email = shiyu.dong@databricks.com
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[format]
  numbered = auto
[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
	helper = cache --timeout=3600
[push]
	default = matching
[core]
	excludesfile = /Users/Shiyu/.gitignore-global
	editor = vim
	untrackedCache = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
  a   = add
  adu = add -u
  br  = branch
  ci  = commit
  co  = checkout
  cii = commit -m "i"
  cia = commit --amend
  cp  = cherry-pick
  di  = diff --full-index
  din = diff --name-status
  rb  = rebase
  rbc = rebase --continue
  rbi = rebase -i
  rbi2= rebase -i HEAD~2
  mg  = merge
  sh  = show
  shn = show --name-status
  st  = status
  l   = log --graph --all
  h   = log --graph --oneline --all --decorate
