## hidden files
.CFUserTextEncoding
.Trash/
.Xauthority
.android/
.arcrc
.atom/
.bash_history
.bash_sessions/
.boxer/
.bundle/
.cache/
.cassandra/
.cerberus/
.config/
.cocoapods/
.cups/
.docker/
.dropbox-master/
.dropbox/
.env
.gem
.gitignore_uber
.glide/
.glide-uber/
.gradle/
.graphlab/
.idl/
.idlrc
.idlerc/
.ipython/
.jpf/
.jupyter/
.lesshst
.m2/
.macports/
.matplotlib/
.netrwhist
.node-gyp/
.npm/
.npmrc
.nvm/
.octave_hist
.octaverc
.oracle_jre_usage/
.pex/
.pip/pip.conf
.powerupdate.user.properties
.profile_corp
.profile_go
.profile_vs
.python_history
.rbenv/
.rnd
.seer
.ssh/
.ssh/id_dsa
.ssh/id_ecdsa
.ssh/id_ed25519
.ssh/id_rsa
.subversion/
.tooling/
.uber/
.ucontainer-secrets
.vagrant.d/
.viminfo
.vim/bundle/
.vscode/
.wget-hsts

## Normal files and folders
Android/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
Workspace/
Uber/
bin/
gocode/
