## hidden files
.CFUserTextEncoding
.Trash/
.Xauthority
.android/
.arcrc
.atom/
.aw/
.aws/
.bashrc
.bash_history
.bash_profile
.bash_sessions/
.bazelcache/
.boto
.boxer/
.buckw/
.bundle/
.cache/
.cassandra/
.cerberus/
.chef/
.config/
.cocoapods/
.cups/
.devxp/
.dep-cache/
.docker/
.dropbox-master/
.dropbox/
.env
.gem
.gitignore_uber
.glide/
.glide-uber/
.gradle/
.graphlab/
.idl/
.idl.git/
.idlrc
.idlerc/
.iterm2/
.iterm2_shell_integration.bash
.ipython/
.jpf/
.jupyter/
.keras/
.kube/
.lesshst
.m2/
.macports/
.matplotlib/
.netrc
.netrc_info
.netrwhist
.netrwhist
.node-gyp/
.npm/
.npmrc
.nvm/
.octave_hist
.octaverc
.oracle_jre_usage/
.pex/
.pip/pip.conf
.powerupdate.user.properties
.profile_corp
.profile_go
.profile_lda
.profile_vs
.pylint.d/
.python_history
.rbenv/
.rnd
.seer
.ssh/
.ssh/id_dsa
.ssh/id_ecdsa
.ssh/id_ed25519
.ssh/id_rsa
.subversion/
.SynologyDrive/
.tooling/
.uber/
.ucontainer-secrets
.vagrant.d/
.viminfo
.vim/bundle/
.vscode/
.wget-hsts
.yarnrc
.zshenv

## Normal files and folders
Android/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
JI/
Library/
Movies/
Music/
Personal/
Pictures/
Public/
Workspace/
Uber/
bin/
gocode/
google-cloud-sdk/
go-code/
learning/
ucd*
